// Colors
$line-color:  rgba( 112, 63, 217, 1);
$main-text-color: #ADADAB;
$title-color:  #E6E6E6;
$labels-color: #6D726E;
$main-bg-color: #252525;
$blocks-bg-color:  #323232;
$info-block-bdcolor: #2C2C2C;
$add-button-color: rgb(103, 194, 100);
$delete-button-color: rgb(218, 72, 72);

// Typography
$main-font: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
sans-serif;
$main-text-size: 16px;
$title-weigth: 600;

// Sizes
$menu-width: 30%;
$image-size-40: 40px;