.tickets-list {
    background-color: #323232;
    display: flex;
    flex-direction: column;
    height: 800px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}

.row-wrap {
    border-left: 5px solid rgba( 112, 63, 217, 0);
    padding: 0 30px 0 25px;
    transition: background-color .4s, border .2s;
    -webkit-transition: background-color .4s, border .2s;
    -moz-transition: background-color .4s, border .2s;
    -ms-transition: background-color .4s, border .2s;
    -o-transition: background-color .4s, border .2s;

    &.choosen {
        border-left: 5px solid rgba( 112, 63, 217, 1);
        background-color: #414141;
    }
}

.list__item {
    padding: 10px 0;
    display: grid;
    grid-template-columns: 2.5fr 6fr 9fr 3fr;
    column-gap: 12px;
    align-items: center;
    border-bottom: 1px solid #212121;

    &_heading {
        padding: 15px 0;
        color: #6D726E;
        font-size: 13px;
    }

    .owner {
        width: 40px;
        height: 40px;
        @include image-bdradius(40px);
    }
}
