.ticket-info {
    background-color: $blocks-bg-color;
    width: 75%;
    padding: 20px 25px;
    @include block-bdradius();
    .label {
        color: $labels-color;
    }

    .info-block {
        margin-bottom: 20px;
        border: 2px solid $info-block-bdcolor;
        @include block-bdradius();

        &__title {
            padding: 8px 15px;
            font-weight: $title-weigth;
            background-color: $info-block-bdcolor;
            color: $title-color;
        }

        &__content {
            display: grid;
            padding: 15px 25px;
            row-gap: 10px;
        }

        .info-parts {
            padding-top: 5px;
        }
}

    &_empty {
        @include flex-column();
        justify-content: center;
        align-items: center;
    
        .cross {
        font-size: 40px;
        padding: 5px 0;
        }
    }
}

@import './../_components/infoHeader';
@import './../_components/owner';
@import './../_components/details';
@import './../_components/asset';