.button {
    display: flex;
    justify-content: center;
    padding: 10px 40px;
    color: $title-color;
    cursor: pointer;
    border: none;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;

    &_addTicket {
        background-color: $add-button-color;
    }

    &_deleteTicket {
        background-color: $delete-button-color;
    }

    &_submit {
        background-color: $add-button-color;
        outline: none;
        margin-top: 15px;
        padding: 10px 30px;
        width: 150px;
    }
}

.delete-wrapper {
    display: flex;
    justify-content: flex-end;
}

.add-wrapper {
    padding-bottom: 15px;
}