.owner {
    
    .info-block__content {
        display: flex;
        align-items: center;
    }

    &-photo {
        width: $image-size-40 * 1.25;
        height: $image-size-40 * 1.25;
        @include image-bdradius(50px);
}

    &-info {
        padding: 0 10px;
    }

    &-profession {
        letter-spacing: 1.3px;
        font-size: 11px;
        color: $main-text-color;
    }
}   