@import './_abstracts/variables';
@import './_abstracts/mixins';
@import './_abstracts/functions';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: $main-font;
}

.App {
  padding: 0 15px;
  height: 100vh;
  background-color: $main-bg-color;
  color: $main-text-color;
  font-size: $main-text-size;
}

.main {
  display: flex;
  padding: 10px 0;
}

.menu {
  @include flex-column();
  width: $menu-width;
  padding-right: 15px;
}

.link {
  color: $main-text-color;
  text-decoration: none;
}

@import './_layout/ticketList';
@import './_layout/ticketInfo';

@import './_components/title';
@import './_components/form';
@import './_components/status';
@import './_components/buttons';
